html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;   
}
h1 {
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    display: flex;
    flex: 1 1 45%;
    min-height: 320px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card img {
    margin: 30px 0 0 20px;
    width: 175px;
    height: 225px;
    object-fit: cover;
    border: 3px solid #ce3622;
    border-radius: 8px;
}
.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.card-content h3 {
    margin: 0 0 10px 0;
}
.card-content p {
    margin: 0 0 10px 0;
    color: #3b3b3b;
}
.card-content a {
    text-decoration: none;
    background-color: #ce3622;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
}
.card-content a:hover {
    background-color: #54302a;
}
