html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    
}
h1 {
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
    
}
body header {
    background-color: aqua;
    margin: 0px;
    padding: 10px 25px;
    
}
.stickyhead {
    margin: 0px;
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1000;
}
.stickyhead button {
    padding: 5px 15px;
    
    
}
.boothhome {
    background-color: rgb(29, 97, 97);
     margin:  0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.boothhome h1 {
    font-size: 100px;

}
.boothhome p {
    font-size: 20px;
}

.product h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}
.product img {

}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
}
.card {
    
}