/* font */
@import url(https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mitr:wght@200;300;400;500;600;700&family=Playpen+Sans+Thai:wght@100..800&display=swap);
body{
    margin: 0;
    padding: 0;
    width: 100%;   
    background: linear-gradient(to top, #0a000e 0%, #3d127d 40%, #b77bf3 100%);
    background-attachment: fixed;
    color: white;
    background-attachment: fixed;
}
header{
    .book{
        .container-box{
            align-items: center;
            text-align: center;
            justify-items: center;
        }
            .bookbox{
                width: 200px;
                height: 150px;
                width: clamp(200px, 60vw, 500px); 
                height: clamp(20px, 50vw, 150px);
                background-color: rgb(0, 0, 0, 0.8);
                border-radius: 30px;
                margin: 10px;
                padding: 0;
                align-items: center;
               text-align: center;
               display: flex;
               flex-direction: column;
               justify-content: center;
                    h1{
                    color: aliceblue;
                    margin: 0;
                    }
        }
    }
.head span {
    font-size: clamp(1.8rem, 6vw, 6rem);
    font-family: cursive;
    color: white;
    animation: animate 3s linear infinite;
}
}
nav{
    .container-fluid{
        padding: 0;
        align-items: center;
    }
    .btn{
        background: linear-gradient(to top, #ffffff 0%, #9687ad 40%, #7907ea 100%);
        width: clamp(60px, 60vw, 170px);
        transform: translateY(-5px);
        box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    }
    .btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(255, 255, 253, 0.25);
     }
    .btn a{
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-family: cursive;
            font-size: clamp(1rem, 2vw, 1.5rem);
        }
        .boxabout{
            background-color: rgba(255, 255, 255, 0.8);
            width: clamp(200px, 60vw, 600px);
            height: clamp(100px, 60vw, 250px);
             border-radius: 10px;
             justify-content: center; 
            align-items: center;
            text-align: center;
            display: flex;
            font-family: cursive; 
        }
        .about{
            h2{
            font-size: clamp(1rem, 6vw, 2rem);
            font-family: Mitr;
            font-weight: 500;
        }
        p{
            font-size: clamp(0.7rem, 2vw, 1.2rem);
            line-height: 1.6;
            font-family: Mitr;
        }
        p strong{
            font-family: cursive;
        }
        }
        .about span{
            color:#f34423;
            font-size: clamp(1rem, 6vw, 2rem);
            font-family: cursive;
        }
}
section{
    .col{
        display: flex;
        justify-content: center; 
        align-items: center; 
        font-family: Mitr;
        padding: 10px;
    }
    .card{
        width: 15rem;
    }
    .namebook{
        font-weight: 500;
        margin: 0;
    }
    .titlebook{
         font-size: clamp(0.9rem, 2vw, 0.9rem);
        color: rgb(98, 96, 96);
        margin: auto;       
    }
    .coin{
        margin: 0;
        
    }
    .card-text{
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; 
    }
}