:root{
    --bg:#18181F; 
    --bgcard:#2A2A35;
    --text:#EAE6DF; 
    --texthead:#E87A00; 
    --bg-btn:#E87A00;
    --text-btn:#1A1A1A;
    --glow:#CBAA73;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppin",sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: var(--bg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 170px;
    justify-content: center;
    margin: 0px;

    .wrap {
        display: flex;
        justify-content:center;
        align-content: center;
        align-items: center;
        gap: 5rem;
        padding: 0.5rem;

        .profile-img-wrap {
            justify-content: center;
            align-items: center;
            img {
                width: 6.25rem;
                border-radius: 50px;
            }
        }

        .profile-text {
            
            h1 {
                margin: 0px;
                color: var(--texthead);
                padding: 7px;
            }
            p {
                color: var(--text);
                font-size: 18px;
                margin: 0px;
                padding: 7px;
            }
        }
    }

   @media screen and (max-width: 768px) {
        height: auto;
        .container {
            height: auto;
            
        .wrap {
            flex-direction: column;
            align-items: center;

           .profile-img-wrap {
            img{
                max-width: 100%;
                height: auto;
            }
           }
        }
      }  
   }
}

.book-list {
    background-image: url(../resource/booth6_resource/bg1-booth6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .book-grid {
        
        .book-card {
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
            width: 38rem;
            gap: 0.25rem;
            margin: 1rem;
            padding: 0rem 1rem 0rem 0rem;
            background-color: var(--bgcard);
            border-radius: 5px;
            border: 3px solid var(--glow);
            transition: transform 0.3s ease;

            img {
                width: 200px;
                height: auto;
            }
            
            .book-info {
               padding: 1rem;
               flex-direction: column;
               line-height: 1.5;

                h2 {
                    color: var(--texthead);
                    margin: 0 0 6px;
                }
                p {
                    color: var(--text);
                }
            }

            .btn-container {
                background-color: var(--bg-btn);
                max-width: 8.813rem;
                width: 100%;
                height: 2.563rem;
                display: inline-flex;
                justify-content:center;
                align-items: center;
                cursor: pointer;
                border-radius: 0.313rem;
                transition: background-color 0.3s ease, 
                            transform 0.3s ease;
                a {
                    color: var(--text-btn);
                    text-decoration: none;
                    transition: color 0.3s ease;
                }
            }

            .btn-container:hover {
                background-color: #dc8c18;
                transform: scale(1.05);
                box-shadow: 0 0 15px #dc8c18;
            }
            .btn-container:hover a {
                color: black;
                font-weight: bold;
            }
        }

        .book-card:hover {
            transform: scale(1.05);
        }    
    }

    @media screen and (max-width: 768px) {
        height: auto;
        .book-list {
            height: auto;

            .book-grid {

                .book-card  {
                    height: auto;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .book-info {

                    }

                    .btn-container {

                    }
                }
            
            }
        }
    }
}

.footer{
    background-color: #724972;
    height: 2rem;
    
    .footer-legal{
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        color: var(--text);
        padding: 0.2rem;
    }
}
