/* font */
@import url(https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mitr:wght@200;300;400;500;600;700&family=Playpen+Sans+Thai:wght@100..800&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mitr:wght@200;300;400;500;600;700&family=Playpen+Sans+Thai:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mitr:wght@200;300;400;500;600;700&family=Playpen+Sans+Thai:wght@100..800&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;   
    background: linear-gradient(to top, #0a000e 0%, #4c1b97 30%, #000000 100%);
    background-attachment: fixed;
    color: white;
    background-attachment: fixed;
}

main{
    .book{
        .container-box{
            align-items: center;
            text-align: center;
            justify-items: center;
        }
            .bookbox{
                width: clamp(200px, 60vw, 620px); 
                height: clamp(5px, 30vw, 150px);
                background-color: rgb(0, 0, 0, 0.8);
                border-radius: 30px;
                margin: 10px;
                padding: 0;
                align-items: center;
               text-align: center;
               display: flex;
               flex-direction: column;
               justify-content: center;
                    h1{
                    color: aliceblue;
                    margin: 0;
                    }
        }
    }
.head span {
    font-size: clamp(1.5rem, 6vw, 6.2rem);
    font-family: Creepster;
    color: white;
    animation: animate 3s linear infinite;
}
}
.des{
        .boxabout{
            background-color: rgba(255, 255, 255, 0.8);
            width: clamp(200px, 60vw, 600px);
            height: clamp(100px, 60vw, 250px);
             border-radius: 10px;
             justify-content: center; 
            align-items: center;
            text-align: center;
            display: flex;
            font-family: cursive; 
            margin: 0;
            padding: 5px;
        }
        .about{
            h2{
            font-size: clamp(1rem, 6vw, 2.2rem);
            font-family: Playpen Sans Thai;
            font-weight: 800;
        }
        p{
            font-size: clamp(0.7rem, 2vw, 1.3rem);
            font-weight: 590;
            font-family: Playpen Sans Thai;
        }
        p strong{
            font-family: Creepster;
        }
        }
        .about span{
            color:#f34423;
            font-size: clamp(1.5rem, 6vw, 2.5rem);
            font-family: Creepster;
        }
}
section{
    .col{
        display: flex;
        justify-content: center; 
        align-items: center; 
        font-family: Mitr;
        padding: 10px;
    }
    .card{
        width: 15rem;
        background-color: #000000;
        color: aliceblue;
    }
    .namebook{
        font-weight: 500;
        margin: 0;
    }
    .titlebook{
         font-size: clamp(0.9rem, 2vw, 0.9rem);
        color: rgb(255, 0, 0);
        margin: auto;       
    }
    .coin{
        margin: 0;
        
    }
    .card-text{
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; 
    }
}
