/*all*/
@font-face{
    font-family: 'Samurai';
    src:url(../resource/booth3_resource/EDMuzazhi/EDMuzazhi.ttf) format('truetype');
     font-weight: normal;
}
html {
    scroll-behavior: smooth;
}
.stickyhead {
    margin: 0px;
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1000;
}
.stickyhead h1 {
    font-size: 50px;
    color:white;
    
}
.stickyhead button {
    padding: 10px 20px;
    font-size: 25px;
    margin:0px 15px;
    border-radius: 25px;
    transition: 0.3s;
    border: none;
}
.stickyhead button:hover {
    transform:scale(1.1);
    cursor: pointer;
}
body header{
    background-image: url(../resource/booth2_resources/booth2_stickyhead.jpg);
}
/*booth3*/
body.booth3{
    background-image: url(../resource/booth3_resource/background4.jpg);
    
}
.shop-title {
     position: fixed;
    top: 90px;        
    left:5px;    
    background-image: url(../resource/booth3_resource/background_paper.jpg);
    background-size: cover;
    padding: 20px 30px;
    border-radius: 8px;
    border: black 5px solid;
    font-family: 'Samurai', sans-serif;
    z-index: 10;        
}

.Shop_name {
    font-size: 70px;
    line-height: 1;      
    letter-spacing: 0;   
    margin: 0;
    text-align: center;
}
.book-card {
  display: block;
  padding: 10px;
  transition: transform 0.2s;
}

.book-card:hover {
  transform: scale(1.03);
}
.container{
    margin-top: 40px;
}
/*book1*/