@font-face {
    font-family: "H1Font";
    src: url(../resource/index_resource/Storm\ Gust.ttf) format(truetype);
}

@media (min-width: 0px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 28px;
    }
}

h2 {
    margin: 2px 0px;
    font-size: 2rem;
}



#header {
    z-index: 5;
    background:url(../resource/index_resource/background.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 0px) {
    .stickyhead-mobile {
        display: block;
    }

    .stickyhead-desktop {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    #mobile {
        width: 100%;
        display: block;
        position: fixed;
        z-index: 1000;
    }
}

@media (min-width: 1144px) {
    .stickyhead-mobile {
        display: none;
    }

    .stickyhead-desktop {
        display: flex;
    }

    .mobile-nav {
        display: none;
    }

    #mobile {
        display: none;
    }
}

p {
    font-size: 1rem;
    margin: 0%;
}

* {
    padding: 0%;
    margin: 0%;
    outline: 0%;
}

@media (min-width: 0px) {
    h1 {
        text-shadow: 6px 2px black;
        font-size: 3rem;
    }
}

@media (min-width: 576px) {
    h1 {
        text-shadow: 7px 3px black;
        font-size: 4rem;
    }
}

@media (min-width: 768px) {
    h1 {
        text-shadow: 8px 5px black;
        font-size: 4.7rem;
    }
}

@media (min-width: 992px) {
    h1 {
        text-shadow: 9px 8px black;
        font-size: 5.2rem;
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 6.7rem;
    }
}



h1 {
    cursor:default;
    font-family: "H1Font", sans-serif;
    color: rgb(250, 93, 1);
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*background: linear-gradient(to top, #3b1a00 0%, #ff6a00 40%, #ff9d00 100%);*/
    background-attachment: fixed;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.stickyhead-desktop {
    width: 100%;
    padding: 5px 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.11)),
        url("../resource/booth2_resources/booth2_stickyhead.jpg");
    margin: 0px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1000;
}

.stickyhead-desktop h2 {
    font-size: 50px;
    color: whitesmoke;

}

.stickyhead-desktop a {
    background: white;
    padding: 10px 20px;
    font-size: 25px;
    margin: 0px 15px;
    border-radius: 35px;
    transition: 0.3s;
    border: none;
}

.stickyhead-desktop a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.stickyhead-mobile {
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#text1 {
    animation: ShowUp 1.5s ease;
    text-shadow: 3px 1px 4px black;
}

#BannerText {
    animation: Fadeup 1s ease;
    color: #ff6a00;
    font-size: 4rem;
    text-shadow: black 5px 1px;
}

#img1 {

    width: 110%;
    height: 90vh;
    opacity: 1;
}

@media (min-width: 0px) {
    #img2 {
        justify-self: center;
        display: block;
        width: 90%;
        opacity: 1;
    }
}

@media (min-width: 768px) {
    #img2 {
        display: none;

    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
}

.ultra-simple-footer {

    background: linear-gradient(160deg, #662b00 0%, #3b1a00 50%, #1c0d00 100%);
    color: #b2b2b2;
    padding: 20px 0;
    font-size: 14px;
}

.footer-content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-copyright {
    margin: 0;
}

.footer-social a {
    color: #b2b2b2;
    font-size: 18px;
    margin-left: 18px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-social a:hover {
    color: #fff;
}

.content-container {
    margin: 50px 0px;
    justify-self: center;
    width: 80%;
}

@media (max-width: 576px) {
    .footer-content {
        flex-direction: column;
        gap: 15px;
    }
}

@keyframes Fade {
    0% {
        opacity: 0.1;
    }

    100% {}
}

@keyframes SlideRight {
    0% {
        transform: translateX(-100%);
    }

    100% {}
}

@keyframes Fadeup {
    0% {
        filter: blur(10px);
        transform: translateY(30px);
        opacity: 0;

    }

    100% {

        filter: blur(0-px);
        opacity: 1;

    }
}

@keyframes ShowUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        letter-spacing: 5px;
    }

    100% {}
}

.check {
    background-color: #1c0d00;
}

.c-orange {
    color: #ff6a00;

}

.muay-slider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px;
    padding: 120px 0px;
}

.muay-slider {
    width: min(90vw, 900px);
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(255, 182, 255, .45);
    position: relative;
    background: #000;
}

.muay-slides {
    height: 100%;
    display: flex;
    animation: muay-slide 16s infinite;
}

.muay-slides>img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.TextD {
    animation: Fadeup linear;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
}

@keyframes muay-slide {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

.hidden {
    height: 0px;
    padding: 0px;
}

@media (min-width: 0px) {
    #navbar-bg {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.11)),
            url("../resource/booth2_resources/booth2_stickyhead.jpg");
        padding: 0px 10px;
    }

    .show {
        height: 230px;
        padding:20px 0px;
    }

    #mobile-nav {
        translate: calc(100vw - 125px) 0px;
        position: fixed;
        align-items: flex-end;
        position: fixed;
        flex-direction: column;
        overflow: hidden;
        transition: all 0.5s ease;
        z-index: 1000;
    }

    #mobile-nav a {
        width: 90px;
        background: white;
        font-size: 0.7rem;
        margin: 0px 15px;
        border-radius: 25px;
        transition: 0.3s;
        border: none;
        text-decoration: none;
        color: #000;
    }
}

@media (min-width: 576px) {
    .show {
        height: 260px;
    }
    #mobile-nav{
        translate: calc(100vw - 135px) 0px;
    }
     #mobile-nav a {
        width: 100px;
        font-size: 0.6rem;
     }
}

@media (min-width: 768px) {
    #navbar-bg {
        padding: 0px 18px;
    }

    .show {
        height: 250px;
    }
    #mobile-nav{
        translate: calc(100vw - 155px) 0px;
    }
    #mobile-nav a {
        width: 110px;
        font-size: 0.5rem;
     }
}

@media (min-width: 992px) {
    .show {
        height: 270px;
    }

}

#Jack-O-Lantern {
    display: block;
    z-index: 0;
    margin: auto;
    width: 200px;
}

a {
    background: white;
    padding: 10px 20px;
    font-size: 25px;
    margin: 0px 15px;
    border-radius: 25px;
    transition: 0.3s;
    border: none;
    text-decoration: none;
    color: #000;
}

#mobile-nav a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#navbar-bg h2 {
    align-self: baseline;
}

#bar {
    transition: all 0.3 ease;
}

#bar:hover {
    color: #dfdada;
    cursor: pointer;
}

#lastbtn {
    margin-bottom:10px ;
}

#bg-2{
    padding: 20px 0px;
    z-index: 4;
    position: relative;
    width: 100vw;
    background: #131313;
}

#bg-3 {
    padding: 20px 0px;
    background: #131313;
background: linear-gradient(174deg, rgba(19, 19, 19, 1) 20%, rgba(145, 61, 22, 1) 40%, rgba(204, 87, 41, 1) 64%, rgba(232, 133, 39, 1) 78%);
}

#web{
    position: absolute;
    width:30%;
    top:0;
    left: 0;
}