html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background: linear-gradient(to top, #3b1a00 0%, #ff6a00 40%, #ff9d00 100%);
    background-size: cover;
    margin: 0px;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    margin: 0px;
}

.feedback-card {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin: 50px 5% 50px 5%;
}

.btn-gradient {
    width: 100%;
    background: linear-gradient(to bottom, #ff6a00 40%, #ff9d00 100%);
    border: none;
    color: white;
}

.register-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 100%;
    max-width: 700px;
}

.btn-gradient:hover {
    opacity: 0.9;
}

.form-control:focus,
.form-select:focus {
    border-color: #ff9d00;
    box-shadow: 0 0 0 0.25rem rgba(255, 157, 0, 0.25);
}

@media (max-width: 768px) {
    .stickyhead {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .stickyhead nav {
        margin-top: 10px;
    }

    .stickyhead button {
        font-size: 16px;
        margin: 5px;
        padding: 5px 15px;
    }
}

.table-theme thead {
    background-color: #3b1a00 !important; 
    color: white !important;
}

.badge-theme {
    background-color: #ff6a00 !important; 
    color: white !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: linear-gradient(to bottom, #ff6a00 40%, #ff9d00 100%) !important;
    border-color: #ff6a00 !important;
    color: white !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 165, 0, 0.1) !important; 
}

.summary-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
